@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

.tip {
  color:gray;
  font-size: 0.6em !important;
  font-family: 'Open Sans', sans-serif;
}

.hdr {
  color:rgb(44, 43, 43);
  font-size: 0.6em !important;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.headline h2 {
  color: white;
  letter-spacing: 0.05em;
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
}

.headline h4 {
  color: red;
  letter-spacing: 0.05em;
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
}

.headline h5 {
  color: #4d4e4f;
  letter-spacing: 0.05em;
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal a {
  color: white;
}

.reveal a:hover {
  color: white;
  font-weight: bold;
}

.reveal ol li {
  margin-left: 0;
  padding-right: 0;
  list-style-type: none;
}

.reveal ol li {
position: relative;
counter-increment: step-counter;
}

.reveal ol li::before {
color: white;
font-size: 70%;
/**font-weight: bold;**/
list-style-position: outside;
padding: 3px 10px;
margin-right: 15px;
border-radius: 3px;
background-color: #4d4e4f;
content: counter(step-counter);
}

.reveal section img {
border: none;
box-shadow: none;
background: none;
}

.reveal .slide-number {
color: black !important;
}

.reveal blockquote {
  width: 100%;
  padding: 17px;
  border-radius: 17px;
  background: rgba(255,255,255,0.2);
}

.reveal p span.slide-title {
display: none;
}

.reveal .slides section .code-presenting-annotation {
color: white;
background: black;
padding: 0px 15px;
border-radius: 15px;
opacity: 0.75 !important;
font-size: 50% !important;
}

